@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  /* scroll-behavior: smooth; */
  color: rgb(var(--foreground-rgb));
  /* background: linear-gradient(
    to bottom,
    transparent,
    rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb)); */
  /* background-color: white;
    color: black; */

  background: black;
  mix-blend-mode: exclusion;
  width: 100%;
  /* background-color: black; */
}

.mixered {
  background: linear-gradient(to bottom, #030016, #000000);
  /* mix-blend-mode: difference; */
}
/* ::-webkit-scrollbar {
  display: none;
} */

#mi-video {
  /* filter: hue-rotate(10deg) brightness(0.1); */
  /* mix-blend-mode: normal; */
}

.video-container::before {
  content: "";

  position: absolute;
  inset: 0;
  z-index: -20;
  background-color: #030016;
  /* mix-blend-mode: exclusion; */
  /* opacity: 1; */
}

/*
* Clip Images
*/

.container .clip.clip1 {
  clip-path: polygon(0 0, 55% 0, 19% 100%, 0% 100%);
  background-size: cover;
}

.container .clip.clip2 {
  clip-path: polygon(55% 0, 100% 0, 45% 100%, 19% 100%);
  background-size: cover;
}

.container .clip.clip3 {
  clip-path: polygon(100% 0, 100% 0, 100% 100%, 45% 100%);
  background-size: cover;
}

.container:hover .clip {
  clip-path: polygon(100% 0, 100% 0, 100% 100%, 100% 100%);
}

.container .clip:hover {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}

.container .clip .content {
  position: absolute;
  bottom: -100%;
  left: 0;
  width: 100%;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.3);
  opacity: 0.9;
  transition: 0.5s;
  color: white;
}

.container .clip:hover .content {
  bottom: 0;
  opacity: 1;
}

.glowText {
  font-size: 4em;
  font-weight: 500;
  letter-spacing: 1px;
  color: white;
  text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 40px #fff;
}
.backg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  /* background: url("/space2.png"); */
  background: rgba(0, 0, 0);
  background-size: cover;
}

.slide-in {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;

  background-size: cover;
  transform-origin: bottom;
}

.slide-out {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  /* background: url("/space2.png"); */
  background: rgba(0, 0, 0);
  filter: blur(20px);
  background-size: cover;
  transform-origin: top;
}

/* 
*  Filter Cards
 */

.filter-card {
  width: calc(300px / 1.5);
  height: 300px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding: 0 36px;
  perspective: 2500px;
  margin: 0px 50px;
  /* border-radius: 20px; */
}

.filter-cover-image {
  width: 100%;
  height: 100%;
  border-radius: 20px;
  /* background-size: cover; */
  object-fit: cover;
  background-color: red;
}

.filter-wrapper {
  transition: all 0.5s;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.filter-card:hover .filter-wrapper {
  transform: perspective(900px) translateY(-5%) rotateX(25deg) translateZ(0);
  box-shadow: 2px 35px 32px -8px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 2px 35px 32px -8px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 2px 35px 32px -8px rgba(0, 0, 0, 0.75);
}

.filter-wrapper::before,
.filter-wrapper::after {
  content: "";
  opacity: 0;
  transition: all 0.5s;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
}

.filter-wrapper::before {
  top: 0;
  height: 100%;
  background-image: linear-gradient(
    to top,
    transparent 46%,
    rgba(12, 13, 19, 0.5) 68%,
    rgba(12, 13, 19) 97%
  );
  border-radius: 20px;
}

.filter-wrapper::after {
  bottom: 0;
  opacity: 1;
  /* background-image: linear-gradient(
    to top,
    transparent 46%,
    rgba(12, 13, 19, 0.5) 68%,
    rgba(12, 13, 19) 97%
  ); */
}

.filter-card:hover .filter-wrapper::before,
.filter-wrapper::after {
  opacity: 1;
}

.filter-card:hover .filter-wrapper::after {
  height: 120px;
}

.filter-title {
  width: 100%;
  transition: transform 0.5s;
}

.filter-card:hover .filter-title {
  transform: translate3d(0%, -50px, 100px);
}

.filter-character {
  /* width: auto; */
  position: absolute;
  /* height: 100px; */
  bottom: 30px;
  left: 5px;
  scale: 115%;
  opacity: 0;
  transition: all 0.5s;
  z-index: -1;
}

.filter-card:hover .filter-character {
  opacity: 1;
  transform: translate3d(0%, -30%, 500px);
}
