@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  /* background: linear-gradient(
    to bottom,
    transparent,
    rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb)); */
  /* background-color: white;
    color: black; */

  background: black;
  mix-blend-mode: exclusion;
  z-index: 0;
  /* background-color: black; */
}

.mixered {
  background: linear-gradient(to bottom, #030016, #000000);
  /* mix-blend-mode: difference; */
}
::-webkit-scrollbar {
  display: none;
}

#mi-video {
  /* filter: hue-rotate(10deg) brightness(0.1); */
  /* mix-blend-mode: normal; */
}

.video-container::before {
  content: "";

  position: absolute;
  inset: 0;
  z-index: -20;
  background-color: #030016;
  /* mix-blend-mode: exclusion; */
  /* opacity: 1; */
}

/*
* Clip Images
*/

.container .clip.clip1 {
  clip-path: polygon(0 0, 55% 0, 19% 100%, 0% 100%);
  background-size: cover;
}

.container .clip.clip2 {
  clip-path: polygon(55% 0, 100% 0, 45% 100%, 19% 100%);
  background-size: cover;
}

.container .clip.clip3 {
  clip-path: polygon(100% 0, 100% 0, 100% 100%, 45% 100%);
  background-size: cover;
}

.container:hover .clip {
  clip-path: polygon(100% 0, 100% 0, 100% 100%, 100% 100%);
}

.container .clip:hover {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}

.container .clip .content {
  position: absolute;
  bottom: -100%;
  left: 0;
  width: 100%;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.3);
  opacity: 0.9;
  transition: 0.5s;
  color: white;
}

.container .clip:hover .content {
  bottom: 0;
  opacity: 1;
}

.glowText {
  font-size: 4em;
  font-weight: 500;
  letter-spacing: 1px;
  color: white;
  text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 40px #fff;
}
.backg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: url("/space2.png");
  background-size: cover;
}

.slide-in {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;

  background-size: cover;
  transform-origin: bottom;
}

.slide-out {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: url("/space2.png");
  filter: blur(20px);
  background-size: cover;
  transform-origin: top;
}

/*
* Image Editor
*/
/* 
.image_editor {
  width: 100vw;
  height: 100vh;
  background-color: #e1e6ef;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image_editor .card {
  padding: 28px;
  width: 700px;
  height: 80%;
  background-color: #fff;
  box-shadow: 0 8px 16px 0px rgb(201, 201, 201);
}

.image_editor .card .card_header {
  text-align: center;
  padding-bottom: 15px;
}

.image_editor .card .card_header h2 {
  text-transform: uppercase;
  color: #e52fcf;
}

.image_editor .card .card_body {
  display: flex;
  justify-content: center;
}

.image_editor .card .card_body .sidebar {
  margin-right: 8px;
}

.image_editor .card .card_body .sidebar .reset button {
  background-color: rgb(242, 53, 85);
  padding: 8px;
  border-radius: 3px;
  outline: none;
  border: 1px solid #dad7d7;
  cursor: pointer;
  color: #fff;
  font-weight: 600;
  text-transform: capitalize;
  font-size: 15px;
}

.image_editor .card .card_body .sidebar span {
  font-size: 15px;
  color: #404040;
  margin-bottom: 4px;
  display: block;
}

.image_editor .card .card_body .sidebar .side_body {
  width: 250px;
  border: 1px solid #c3c5c4;
  margin-right: 8px;
  height: 300px;
  padding: 10px;
}

.image_editor .card .card_body .sidebar .side_body .filter_key button.active {
  background-color: rgb(84, 93, 216);
  color: #fff;
}

.image_editor .card .card_body .sidebar .side_body .filter_key button {
  padding: 8px;
  background-repeat: 3px;
  border: 1px solid #dad7d7;
  cursor: pointer;
  color: #404040;
  text-transform: capitalize;
}

.image_editor
  .card
  .card_body
  .sidebar
  .side_body
  .filter_slider
  .label_bar
  label,
.image_editor
  .card
  .card_body
  .sidebar
  .side_body
  .filter_slider
  .label_bar
  span {
  color: #404040;
  font-size: 15px;
  text-transform: capitalize;
}

.image_editor .card .card_body .sidebar .side_body .filter_slider input {
  width: 100%;
}

.image_editor .card .card_body .sidebar .side_body .rotate label {
  margin-bottom: 8px;
  display: block;
  font-size: 15px;
  color: #404040;
}

.image_editor .card .card_body .sidebar .side_body .rotate .icon div {
  border: 1px solid rgb(179, 194, 194);
  padding: 8px 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.image_editor .card .card_body .image_section {
  margin-left: 8px;
  width: 350px;
  background-color: #f0f0f0;
  height: 300px;
}

.image_editor .card .card_body .image_section .image img {
  object-fit: scale-down;
  transition: all 0.5s;
  width: 100%;
  height: 100%;
}

.image_editor .card .card_body .image_section .image label {
  width: 100%;
  height: 100%;
  display: flex;
  border: dotted;
  border-color: #c5c9c5;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.image_editor .card .card_body .image_section .image label svg {
  font-size: 40px;
  color: #b4acac;
}

.image_editor .card .card_body .image_section .image label span {
  color: #404040;
}

.image_editor .card .card_body .image_section .image_select {
  margin: 20px 0px;
  display: flex;
  justify-content: flex-end;
}

.image_editor .card .card_body .image_section .image_select input {
  display: none;
}

.image_editor .card .card_body .image_section .image_select label,
.image_editor .card .card_body .image_section .image_select button {
  padding: 8px;
  border-radius: 3px;
  outline: none;
  border: 1px solid #dad7d7;
  cursor: pointer;
  color: #fff;
  font-weight: 600;
  text-transform: capitalize;
  font-size: 15px;
}

.image_editor .card .card_body .image_section .image_select .redo,
.image_editor .card .card_body .image_section .image_select .undo {
  background-color: #4a55f3;
  margin-left: 5px;
  color: #fff;
  padding: 5px 10px;
  font-size: 18px;
}

.image_editor .card .card_body .image_section .image_select label {
  background-color: #115811;
  margin-left: 5px;
}

.image_editor .card .card_body .image_section .image_select .crop {
  background-color: #8e33b7;
  margin-left: 5px;
} */
