@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  /* background: linear-gradient(
    to bottom,
    transparent,
    rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb)); */
  /* background-color: white;
    color: black; */
  /* background: linear-gradient(to bottom, #030016, #000000); */
  /* mix-blend-mode: overlay; */
  background-color: black;
}

/*
* Clip Images
*/

.container .clip.clip1 {
  clip-path: polygon(0 0, 55% 0, 19% 100%, 0% 100%);
  background-size: cover;
}

.container .clip.clip2 {
  clip-path: polygon(55% 0, 100% 0, 45% 100%, 19% 100%);
  background-size: cover;
}

.container .clip.clip3 {
  clip-path: polygon(100% 0, 100% 0, 100% 100%, 45% 100%);
  background-size: cover;
}

.container:hover .clip {
  clip-path: polygon(100% 0, 100% 0, 100% 100%, 100% 100%);
}

.container .clip:hover {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}

.container .clip .content {
  position: absolute;
  bottom: -100%;
  left: 0;
  width: 100%;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.3);
  opacity: 0.9;
  transition: 0.5s;
  color: white;
}

.container .clip:hover .content {
  bottom: 0;
  opacity: 1;
}
